################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoUpdater.NET/obj/Debug
/.vs/AutoUpdater.NET/v14
/AutoUpdater.NET/bin
/AutoUpdater.NET/obj/Release
/AutoUpdater.Net.NuGet/bin
/AutoUpdater.Net.NuGet/obj
/AutoUpdaterTest/bin
/AutoUpdaterTest/obj/Debug
/AutoUpdaterTest/obj/x86/Release
/AutoUpdater.Net.NuGet
